<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{title}} - {{config.site.name}}</title>
    <link rel="stylesheet" href="{{@part.url main css}}">
  </head>
  <body>
    <header>
      <h1>{{title}} - {{config.site.name}}</h1>
      <nav>
        <h2>Pages:</h2>
        <ul>
          {{#pages}}
            <li>
              {{?active}}
                <a href="#" class="active">{{title}}</a>
              {{/active}}
              {{^active}}
                <a href="{{relativeUrl}}">{{title}}</a>
              {{/active}}
            </li>
          {{/pages}}
        </ul>
      </nav>
    </header>
    <main>
      <h2>Posts:</h2>
      <ul>
        {{#posts}}
          {{?isPublished}}
            <li>
              {{type}} from {{date-daily}}:
              {{?title}}
                <a href="{{relativeUrl}}">{{title}}</a>
              {{/title}}
              {{^title}}
                <a href="{{relativeUrl}}">{{summary}}</a>
              {{/title}}
            </li>
          {{/isPublished}}
        {{/posts}}
      </ul>
    </main>
    <footer>
      {{?hasOtherLanguages}}
        <div class="languages">
          Other Languages:
          {{#languages}}
            {{^isCurrent}}
              <a href="{{relativeUrl}}">{{localizedName}}</a>
            {{/isCurrent}}
          {{/languages}}
        </div>
      {{/hasOtherLanguages}}
    </footer>
  </body>
</html>
