<!DOCTYPE html>
<html lang="{{current.lang}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{current.title}} - {{config.site.name}}</title>
    <script src="{{@part.url kernel js}}"></script>
    <link rel="stylesheet" href="{{@part.url main css}}">
  </head>
  <body>
    <header>
      <h1>Sebastian Werner</h1>
      <nav>
        <h2>Pages</h2>
        <ul>
          {{#pages}}
            <li>
              <a href="{{relativeUrl}}" {{?active}}class="active"{{/active}}>{{title}}</a>
            </li>
          {{/pages}}
        </ul>

        <h2>Posts</h2>
        <ul>
          {{#posts}}
            <li>
              <a href="{{relativeUrl}}" {{?active}}class="active"{{/active}}>{{title}}</a>
            </li>
          {{/posts}}
        </ul>
      </nav>
    </header>
    <main>
      {{=content}}
    </main>
    <footer>
      <div class="languages">
        Alternative Languages:
        {{#languages}}
          {{^current}}
            <a href="{{relativeUrl}}">{{name}}</a>
          {{/current}}
        {{/languages}}
      </div>
    </footer>
  </body>
</html>
