<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{title}} - {{config.site.name}}</title>
    <link rel="stylesheet" href="{{@part.url main css}}">
  </head>
  <body>
    <header>
      <h1>Sebastian Werner</h1>
      <nav>
        <h2>Pages</h2>
        <ul>
          {{#pages}}
            <li>
              {{?isActive}}
                <a href="#" class="active">{{title}}</a>
              {{/isActive}}
              {{^isActive}}
                <a href="{{relativeUrl}}">{{title}}</a>
              {{/isActive}}
            </li>
          {{/pages}}
        </ul>
      </nav>
    </header>
    <main>
      {{=title}}
      {{=content}}
    </main>
    <footer>
      {{?hasOtherLanguages}}
        <div class="languages">
          Other Languages:
          {{#languages}}
            {{^isCurrent}}
              <a href="{{relativeUrl}}">{{localizedName}}</a>
            {{/isCurrent}}
          {{/languages}}
        </div>
      {{/hasOtherLanguages}}
    </footer>
  </body>
</html>
